
# ls
if ! command -v lsd &> /dev/null
then
    alias ls='ls -CF --color=auto'
    alias ll='ls -hl'
    alias la='ls -a'
else
    alias ls='lsd'
    alias ll='ls -al'
    alias lt='ls --tree'
fi

alias tree="tree -C"

alias ptpython="python -m ptpython"

# Find
alias fr='find . -name'
alias fh='find $HOME -name'
alias rg="rg --hidden --glob '!.git'"

# Grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Disk Usage
alias df='df -H'
alias du='du -sh'

# Others
alias pingoo="ping -c 3 www.google.com"
alias ewq="nvim"
alias tmux="tmux -u"
alias j="jump"
alias less="less -s -M +Gg"
alias crontabedit="env EDITOR=nvim crontab -e"
tailf='tail -f'

# Git
alias gpom="git push origin master"
alias gplos="git pull origin staging"
alias gpo="git push origin "
alias gpof="git push origin --force"
alias gpall="git push --all"
alias gs='git status -s'
alias gc='git commit'
alias ga='git add'
alias gd='git diff'
alias gb='git branch'
alias gl='git log -p --graph --abbrev-commit'
alias gsb='git show-branch'
alias gco='git checkout'
alias gg='git grep --ignore-case'
alias gk='gitk --all'
alias gr='git rebase'
alias gri='git rebase --interactive'
alias gcp='git cherry-pick'
alias grm='git rm'
alias gcaa='git commit -a --amend -C HEAD'
alias gca='git commit --amend -C HEAD'
alias gam='git amend'

alias weather='curl wttr.in'
alias moon='curl wttr.in/Moon'
alias timeout='gtimeout'
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'

alias audio_restart='launchctl stop com.apple.audio.coreaudiod && sudo launchctl start com.apple.audio.coreaudio'

function show_pass {
    keepassxc-cli show ~/Passwords.kdbx ${1} -s | grep "Password" | awk -F 'Password: ' '{print $2}'
}

function ssh_tmux {
    ssh -t "$@" tmux new -A ssh_tmux
}

function monitor_ {
    while true; do eval ${1}; sleep 1; clear; done
}

function tracecmd {
    while true; do eval ${1}; sleep 1; done
}

function sserver {
    python -m SimpleHTTPServer $1
}

# Profile Shortcuts
function source_zshrc {
    source $HOME/.zshrc
}

# wget Shortcut
function getsrc {
    wget $1 -O `echo "$1" | sed 's/\/$//' | awk -F/ '{print $NF }'`
}

function cdgr {
    cd $(git rev-parse --show-toplevel)
}

function define() {
    curl -s "http://www.collinsdictionary.com/dictionary/english/$*" | \
        sed -n '/class="def"/p' | \
        awk '{gsub(/.*<span class="def">|<\/span>.*/,"");print}' | \
        sed "s/<[^>]\+>//g";
}

fancy-ctrl-z () {
    if [[ $#BUFFER -eq 0 ]]; then
        BUFFER="fg"
            zle accept-line
    else
        zle push-input
            zle clear-screen
            fi
}
zle -N fancy-ctrl-z
bindkey '^Z' fancy-ctrl-z
